	body{text-align:center;
			background-color:#058295;
			color:white;

	}
		h1{
			font-family:Futura;
			color:black;
			text-decoration:underline;
			padding:10px;
		}
		h2{
			font-family:Futura;
			text-decoration:underline;
			margin:40px;
			padding:10px;
		}
		#address-1 {
			color:yellow;
		}

		a{
			color:lightblue;
			padding: 10px 0 10px 0;
		}
		a:hover{background-color:white;
			color:black;
		}

		a:visited {}
		a:active {}