
	body{text-align:center;
			background-color:grey;
			color:white;
			font-family: Times;
			font-size: 15;


	}
		h4{
			
			color:black;
			margin:30px;
			padding:10px;
		}
		h3{
			
			color:darkred;
			margin:30px;
			padding:10px;
		}
	
		a{
			color:darkred;
			padding: 10px 0 10px 0;
		}
		a:hover{background-color:darkred;
			color:black;
		}

		a:visited {color:pink;}
